@implements IDisposable
@using Microsoft.EntityFrameworkCore;
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject TrashBoard.Services.UserSessionService SessionService
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TrashBoard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="selector">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Selector
            </NavLink>
        </div>

        @if (SessionService.IsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/holiday-updater">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Holiday Update
                </NavLink>
            </div>

        }

        @code {

            protected override async Task OnInitializedAsync()
            {

            }
            protected override async Task OnAfterRenderAsync(bool firstRender)
            {
                if (firstRender)
                {
                    await SessionService.InitializeAsync();
                    SessionService.OnChange += StateHasChanged;
                    StateHasChanged(); // refresh UI after loading session data
                }
            }
            public void Dispose()
            {
                SessionService.OnChange -= StateHasChanged;
            }
        }
    </nav>
</div>